---
import Layout from "@layouts/Layout.astro";
import Header from "@sections/Header.astro";
import Hero from "@sections/Hero.astro";
---

<Layout >
  <Header />
  <div class="max-w-[960px] mx-auto">
    <Hero />
  </div>
</Layout>
